[Unit]
Description=Pen plotter printer web service
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=pi
# Serial ports belong to the dialout group
SupplementaryGroups=dialout
WorkingDirectory=/home/pi/webplotter
ExecStart=/home/pi/penplotter_venv/bin/python3 /home/pi/webplotter/main.py
TimeoutSec=600
Restart=on-failure
RestartSec=5
# Environment=PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games:$HOME/.local/bin"
